<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Alpha Blog</h1>
            
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
