<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">The complete Ruby on Rails Developer</a>
      by <a href="http://coding-ninjas.com">Cleveland Williams</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', page_path('about') %></li>
      </ul>
    </nav>
  </footer>
</div>
