<div class="container foot">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://cleveland-portfolio-rails.herokuapp.com/" target="_blank">The complete Ruby on Rails Developer</a>
      by <a href="https://github.com/cwilliams3579" target="_blank">Cleveland Williams</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', page_path('about') %></li>
      </ul>
    </nav>
  </footer>
</div>
